/* Pour accÃ©der Ã  une classe:   .nomClasse */
.background {
    -fx-background-color: #c0c0c0;
}

.label {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #3b3b3b;
    -fx-opacity: 0.8;
}

.label-bright {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #c0c0c0;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #800080;
    -fx-opacity: 1;
}

.table-view {
/* 	Cadre menu deroulant */
    -fx-base: #cdd3e0;
/*     Background tableView */
    -fx-control-inner-background: #f4faff;
/*     bordure tableau */
    -fx-background-color: #cdd3e0;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
/*     Epaisseur bordure tableau */
    -fx-padding: 1;
   	-fx-font-size: 12pt;
/*     -fx-font-family: "Segoe UI Semibold"; */
    -fx-text-fill: #3b3b3b;
    -fx-opacity: 0.9;
}

.table-view .column-header-background {
    -fx-background-color: #cdd3e0;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #f4faff;
    -fx-border-color: grey;
    
/*         transparent */
/*         transparent */
/*         derive(-fx-base, 80%)  */
/*         transparent; */
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: #3b3b3b;
    -fx-opacity: 0.9;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 17pt;
    -fx-font-family: "Segoe UI Light Bold";
    -fx-text-fill: #3b3b3b;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #00ff80;
    -fx-opacity: 0.9;
}

.menu .left-container {
	-fx-background-color: #0080ff;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 09;
    -fx-background-color:linear-gradient(#f4faff, #e6e6e6) ;
    -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
   	-fx-text-fill: #3b3b3b;
    -fx-opacity: 0.8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #e6e6e6;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #ff80ff;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: #ffff80;
}
.comboBox {
	-fx-padding: 5 22 5 22;   
    -fx-border-color: #ff80ff;
    -fx-border-width: 2;
    -fx-background-radius: 05;
    -fx-background-color: #00ff80;
    -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
   	-fx-text-fill: #3b3b3b;
    -fx-opacity: 0.8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
#titleLabel{
    -fx-font-size: 26pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #3b3b3b;
    -fx-opacity: 0.8;
}
